@import "~bootstrap/scss/bootstrap";

li {
    list-style: none;
}

.header-top {
    background-color: #0282f9;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;

    .header-mini {
        font-size: 13px;

        select {
            text-transform: uppercase;
            background-color: #0282f9;
            border: none;
            color: #fff;
            font-size: 13px;
        }
    }
}

.header-bottom {
    padding: 20px 0;

    .header-big {
        text-transform: uppercase;

        a {
            text-decoration: none;
            color: #000;
        }

        .mc-padding-left {
            padding-left: 45px;
        }

        select {
            text-transform: uppercase;
            border: none;
            color: #000;
        }
    }
}

.main-top {
    background-color: #1c1c1c;

    .container {
        position: relative;

        .button-main {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 20px;

            button {
                all: unset;
                background-color: #0282f9;
                text-transform: uppercase;
                color: #fff;
                padding: 10px 70px;
                font-size: 1rem;
                cursor: pointer;
            }
        }
    }

    h3 {
        color: white;
        text-transform: uppercase;
        padding: 10px 20px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(15px, -50%);
        font-size: 1.5rem;
        z-index: 1;
        background-color: #0282f9;
    }
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 12px;
    max-width: 1280px;
    padding: 0 30px;
    align-items: center;
    margin: 0 auto;
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;

    li {
        list-style: none;
    }
}

.pic-container {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;

    img {
        width: 100%;
        display: block;
    }
}

.comic-title {
    text-decoration: none;
    font-size: 13px;

    h5 {
        color: white;
        font-family: "Open Sans", sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        margin-top: 20px;
        text-decoration: none;
        font-size: 12px;
    }
}

.jumbotron {
    height: 400px;
    background-image: url(../img/jumbotron.jpg);
}

.cards {
    background-color: #0282f9;

    img {
        width: 45px;
        height: 45px;
    }

    .list-card {
        display: flex;

        justify-content: space-between;
        padding: 45px;
        gap: 60px;
        padding-left: 40px;
        text-transform: uppercase;
    }

    a {
        display: flex;
        height: 100%;
        gap: 15px;
        text-decoration: none;
        font-size: 1rem;
        color: #fff;

        p {
            display: flex;
            align-items: center;
            margin: 0;
        }
    }
}

.backimage {
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.back-logo {
    background-image: url(../img/dc-logo-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    background-position: right;
}

.links {
    display: flex;
    padding-top: 35px;
    padding-bottom: 55px;
    gap: 30px;
}

.container-footer {
    display: flex;

    .right {
        display: flex;
        gap: 30px;
    }

    .left {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    div {
        .h3-footer {
            color: white;
            padding-bottom: 20px;
        }

        .ul-footer {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;

            .li-footer {
                font-size: 0.875rem;
                font-family: "Open Sans", sans-serif;
                color: #959595;
                margin-right: 55px;
                width: 105%;

                .a-footer {
                    text-decoration: none;
                    color: gray;
                }
            }
        }
    }
}